%table.table.table-bordered
  %thead
    %th
    %th Expiration
    %th Last Digits
    %th CardHolder
  %tbody
    - @cards.each do |card|
      %tr
        %td= image_tag(card.payment_method.thumbnail)
        %td= "#{card.expiration_month}/#{card.expiration_year}"
        %td= card.last_four_digits
        %td= card.cardholder.name
        %td
          %a.btn.btn-danger.btn-xs{href: gateway_card_path(card.id), "data-method": "delete"} Eliminar