#masonry-container.container-fluid.transitions-enabled.clearfix.centered
  - @products.each do |item|
    .box.col3
      .thumbnail
        .pic-thumb{style: "background-image: url('#{item.picture.url}')"}
        .caption
          %h4= "#{item.name}"
          %small= truncate item.description, length: 200
          .container-fluid.caption-bottom
            .row
              .col-md-6
                %h4=  number_to_currency(item.price, unit: "$")
              .col-md-6
                %a{href: new_item_path(product_id: item.id), class: "btn btn-warning btn-xs mt-10"}
                  %span.glyphicon.glyphicon-shopping-cart
                  Add to Cart


:javascript
  $(function(){

    $('#masonry-container').masonry({
      itemSelector: '.box',
      columnWidth: 60,
      gutterWidth: 40
    });

  });